{% extends 'base.html.twig' %}


{% block title %}Routeviz - historical locations{% endblock %}

{% block sidebar %}

    <p>Choose a line</p>
    <li>
        <a href="#trams-buses" data-toggle="collapse">Trams & Buses</a>
        <div id="trams-buses" class="collapse">
            <div class="flex-list" id="line-list">

            </div>

        </div>
    </li>


    <p>Pick time period</p>

    <div class="label">From:</div>
    <div class="form-group">
        <div class='input-group' id='datetime_from'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>
    <div class="label">To:</div>
    <div class="form-group">
        <div class='input-group' id='datetime_to'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>

    <hr>
    <div class="form-group">
        <button class="input-group btn btn-primary" id="submit_historical_btn">Go</button>
    </div>
{% endblock %}

{% block body %}



{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/historical.css') }}" />

    {#<script src="{{ asset('build/historical.js') }}"></script>#}
    <script src="{{ asset('js/historical/historical.js') }}"></script>


{% endblock %}