{% extends 'base.html.twig' %}


{% block title %}Routeviz - visualize the route{% endblock %}

{% block sidebar %}

    <p>Choose a line</p>
    <li>
        <a href="#trams-buses" data-toggle="collapse">Trams & Buses</a>
        <div id="trams-buses" class="collapse">
            <div class="flex-list" id="line-list">

            </div>

        </div>
    </li>


    <p>Pick time period</p>

    <div class="label">
    From:
    </div>
    <div class="form-group">
        <div class='input-group' id='datetime_from'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>
    <div class="label">To:</div>

    <div class="form-group">
        <div class='input-group' id='datetime_to'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>

    <p>Choose clustering method</p>

    <li>
        <a href="#dbscan" data-toggle="collapse">DBSCAN</a>
        <div id="dbscan" class="collapse">

            <div class="label" id="epsilon">Epsilon:</div>
            <div class="form-group">
                <input id="dbscan_epsilon" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="10"/>
            </div>

            <div class="form-group">
                <div class="label" id="numbers">Minimum number of points in cluster:</div>
                <input id="dbscan_points" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="30"/>

            </div>

            <div class="form-group">
                <button class="input-group btn btn-primary" id="submit_dbscan">Run DBSCAN</button>
            </div>

        </div>

        {#<a href="#kmeans" data-toggle="collapse">K-means</a>
        <div id="kmeans" class="collapse"></div>#}
    </li>


{% endblock %}

{% block body %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('build/current.js') }}"></script>#}
    <script src="{{ asset('js/clustering/clustering.js') }}"></script>


{% endblock %}